@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f3f3;
}

.bannerBackground {
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url(/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

.selectedCategory {
    color: white;
    background-color: rgb(239 68 68);
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(239 68 68);
    border-color: rgb(239 68 68) transparent rgb(239 68 68) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
